* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.section {
    padding-left: 15%;
    padding-right: 15%;
    height: 300px;
}

.hero {
    background-color: #1F2937;
    padding: 16px 15%;
    display: flex;
    flex-direction: column;
    color:  #F9FAF8;
    align-items: center;
    gap: 38px;
    height: 450px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.links ul {
    display: flex;
    gap: 16px;
    margin-right: auto;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 50px;
    height: 200px;
    align-self: center;
    margin-top: 30px;
}

.hero-image {
    height: 40vh;
    width: 400px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
    
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
}

.card img {
    width: 130px;
    height: 130px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    vertical-align: auto;
}

.info-title {
    text-align: center;
    margin: 20px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-grow: 1 auto;
    margin-bottom: 32px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.info-section {
    box-sizing: border-box;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #E5E7EB;
    color: #1F2937;
}

.citation {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 800;

}

.quote {
    font-size: 36px;
    font-weight: light;
    
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 48px 80px;
    gap: 30px;
    width: 100%;
    border-radius: 8px;
    
}

.action-title{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 4px;
}

.action-button {
    margin-left: auto;

}

.action-button button {
    background-color: inherit;
    color: #F9FAF8;
    font-weight: 700;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 34px;
}